designs/server/services/receipt_Data.json
[
    {
        "id": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "type": "tab",
        "createdDate": "2024-06-26T08:01:53.097Z",
        "label": "receipt_Data",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "receipt_Data",
        "relativeParentPath": ""
    },
    {
        "id": "sd_xzCUM8CG8MjFdgah",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "start",
        "name": "add-receipt-data",
        "path": "/add-receipt-data",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "sd_4tGwLR1woumnEG5V"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "receipt_Data",
        "functionName": "sd_xzCUM8CG8MjFdgah"
    },
    {
        "id": "sd_4tGwLR1woumnEG5V",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.receiptData = {\n    collection : \"ReceiptData\",\n}\n\n\n\nlet day = new Date().getDay() \nlet month = new Date().getMonth()\nlet year = new Date().getFullYear()\n\n\n\n\n\nbh.input.body['Date-Uploaded'] = day + '/' + month + '/' + year;\nbh.input.body['fileid'] = bh.input.headers['fileid'] \n\n\nconsole.log()",
        "functionName": "sd_4tGwLR1woumnEG5V",
        "category": "Function",
        "x": 225,
        "y": 80,
        "wires": [
            [
                "sd_lMVmdpYxUo2oWmbL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_lMVmdpYxUo2oWmbL",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_qC5Zfy7LJYHmxiFv",
        "collection": "bh.receiptData.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_lMVmdpYxUo2oWmbL",
        "category": "Storage",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_dYMiPVLrPaRRhOnO"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "receiptData.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "input.body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_dYMiPVLrPaRRhOnO",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_dYMiPVLrPaRRhOnO",
        "category": "HTTP",
        "x": 525,
        "y": 80,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_LITkUuuJlYXmnDvY",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "start",
        "name": "get-receipt-data",
        "path": "/get-receipt-data",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 125,
        "y": 200,
        "wires": [
            [
                "sd_fyuH8bSVxuO0uo7j"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "receipt_Data",
        "functionName": "sd_LITkUuuJlYXmnDvY"
    },
    {
        "id": "sd_fyuH8bSVxuO0uo7j",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.receiptData = {\n    collection : \"ReceiptData\",\n}\n\nbh.input.body['Date-Uploaded'] = new Date().toLocaleDateString()\n\nconsole.log('GET')",
        "functionName": "sd_oAIXs1g6MtIZlgDJ",
        "category": "Function",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_TXoyfmFyhkKfpxNX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_TXoyfmFyhkKfpxNX",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_oE6JU2aiEUVDyjZH",
            "type": "tab",
            "createdDate": "2024-06-25T10:13:43.508Z",
            "label": "check_If_Exist",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_F9CrOrETPPnaRNnz",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./check_If_Exist",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_TXoyfmFyhkKfpxNX",
        "category": "General",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "sd_U7pG547mdq0aUxFN",
                "sd_kqtW7EvUAULF7NmJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_U7pG547mdq0aUxFN",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_U7pG547mdq0aUxFN",
        "category": "Function",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "sd_8j6lVUel7NUEAqev"
            ],
            [
                "sd_LU1PH9RfXJPrFRd2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_8j6lVUel7NUEAqev",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"bh\", bh)\nbh.status = 200",
        "functionName": "sd_8j6lVUel7NUEAqev",
        "category": "Function",
        "x": 685,
        "y": 160,
        "wires": [
            [
                "sd_y9LnKoKdcGXQibly"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_LU1PH9RfXJPrFRd2",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404\nbh.result = {\n    message: \"Nothing found\"\n}",
        "functionName": "sd_LU1PH9RfXJPrFRd2",
        "category": "Function",
        "x": 685,
        "y": 260,
        "wires": [
            [
                "sd_y9LnKoKdcGXQibly"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_y9LnKoKdcGXQibly",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_y9LnKoKdcGXQibly",
        "category": "HTTP",
        "x": 860,
        "y": 200,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    },
    {
        "id": "sd_kqtW7EvUAULF7NmJ",
        "type": "ServerLog",
        "z": "SSD_SERVICE_ID_sd_Hgsa2aQVFxKXgGrp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.result",
        "logLevel": "info",
        "functionName": "sd_kqtW7EvUAULF7NmJ",
        "category": "General",
        "x": 525,
        "y": 340,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "receipt_Data",
        "generated": true
    }
]
